        <style type="text/css">
        .{
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }

        .navigasi{
            background-color: #000000;
            width: 100%;
            height: 5px;
            color: white;
            position: fixed;
        }

        .logo{
            float: left;
            padding-top: 20px;
            padding-bottom: 10px;
            padding-left: 30px;
        }

        .menu{
            margin-left: 900px;
            padding-top: 27px;
        }

        .menu ul li{
            list-style: none;
            display: inline-block;
            margin-right: 50px;
        }

        .menu ul a{
            text-decoration: none;
            color: white;
        }

        .menu ul li a:hover{
            color: lightskyblue;
            font-style: italic;
        }

        .banner{
            background-color: #000000;
            height: 600px;
            text-align: center;
            color: white;
        }

        .banner img{
            border-radius: 100px;
            height: 150px;
            border: 6px solid white;
            margin-top: 100px;
        }

        .banner h1{
            margin-top: 10px;
            margin-bottom: 10px;
        }

        .banner button{
            margin-top: 60px;
            padding: 10px;
            width: 400px;
            border-radius: 50px;
            border: none;
        } 

        .banner button:hover{
            background-color: #000000;
            border: 1px solid white;
            color: white;
        }

        h1 span::before{
            content: ;
            animation: gerak infinite 8s ease;
            transform: translateY(-50%);
            color: lightblue;
            font-size: 70px;
        }

        .about{
           background-color: #000000;
            height: 85px;
            text-align: center;
            color: white; 
        }

        @keyframes gerak{
            0%{
                content: "Selamat Datang";
            }

            50%{
                content: "Saya Uswatun Hasanah";
            }

            100%{
                content: "Terimakasih Sudah Singgah!";
            }
        }

        .education and skills{
            text-align: center;
            color: #4d4d4d;
            margin-top: 90px;
            align-content: center;
        }

        .kiri.tengah.kanan{
            width: 300px;
            height: 320px;
            background-color: #000000;
            text-align: center;
            padding: 30px 30px;
            margin: 70px 20px 20px 55px;
            border-radius: 10px;
            float: left;
        }

        .kiri:hover,.tengah:hover,.kanan:hover{
            background-color: #000000;
            color: white;
        }

        .education and skills h3,p{
            margin-top: 10px;
            margin-bottom: 13px;
            padding: 0px 20px;
        }

        .contact img{
            width: 100px;
            height: 100px;
            margin-top: 50px;
            margin-bottom: 30px;
        }

        .contact{
            text-align: center;
            margin-top: 50px;
        }

        .footer{
            background-color: grey;
            width: 100%;
            height: 40px;
            color: white;
            padding: 3px;
            margin: 50px auto 0px;
        }
    </style>